/*Apply to all*/
* {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #374050;
}

/*Left side navigation styles*/
aside {
  background-color: #374050;
  box-sizing: border-box;
  color: #67738B;
  display: block;
  float: left;
  height: 170.5vh;
  width: 14em;
}

.aside {
  border-bottom: 2px solid #2B3240;
}

.aside-profile-pic {
  border-bottom: 2px solid #2B3240;
  padding: 2em;
  text-align: center;
}

.profile-pic {
  border-radius: 50%;
  width: 90px;
}

h4 {
  margin-left: 1em;
}

.aside-btn {
  align-items: center;
  border-left: 3px solid #374050;
  color: #A2ACBD;
  display: flex;
  font-weight: 700;
  padding: .5em;
  padding-left: 1.25em; 
  text-decoration: none;
}

.aside-svg {
  height: 18px;
  margin-bottom: 3px;
  margin-right: .75em;
}

.aside-btn:hover {
  background-color: #2B3240;
  border-left: 3px solid white;
  color: white;
}

.check-box1:hover {
  background-image: url("images/correct-symbol.svg");
  background-size: 30px;
}

header {
  align-items: center;
  background-color: white;
  border: 1px solid lightgray;
  box-sizing: border-box;
  display: flex;
  float: right;
  height: 5em;
  justify-content: flex-start;
  width: calc(100% - 14em);
}

.header {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 1.5em;
  border-left: .5px solid lightgray;
  height: 5em;
  width: 5em;
}

.header-menu {
  background-image: url(images/four-horizontal-lines-with-down-arrow.svg);
  border-left: 0;
  border-right: .5px solid lightgray;
}

.header-menu:hover {
  background-color: #49A2F3;
  background-image: url(images/four-horizontal-lines-with-down-arrow1.svg);
}

.header-text-input {
  border: 0px;
  flex: 1;
  margin-left: 3.5em;
  outline: none;
}

.header-text-input2 {
  display: none;
  margin-left: 3.5em;
}

.header-add-friend {
  background-image: url(images/man-user.svg);
}

.header-add-friend:hover {
  background-color: #49A2F3;
  background-image: url(images/new-user-hover.svg);
}

.header-calendar {
  background-image: url(images/add-event.svg)
}

.header-calendar:hover {
  background-color: #49A2F3;
  background-image: url(images/add-event-hover.svg);
}

.header-squares {
  background-image: url(images/menu1.svg);
}

.header-squares:hover {
  background-color: #49A2F3;
  background-image: url(images/menu1-hover.svg);
}

/*Main content nav*/
.sub-header {
  background-color: white;
  box-sizing: border-box;
  color: #4E515D;
  float: right;
  font-weight: 400;
  height: 13em;
  padding: 2em;
  position: relative;
  width: calc(100% - 14em);
}


h1 {
  font-weight: 400;
  margin-bottom: 0;
}

.h1-icons {
  align-items: center;
  border-radius: 25px 25px 25px 25px;
  border: 2px solid lightgray;
  color: #4E515D;
  display: inline-flex;
  float: right;
  font-weight: 700;
  margin-right: 0.75em;
  padding: .5em;
  text-decoration: none;
  }

.h1-icons:hover {
  border: 2px solid #49A2F3;
}

.header-icon {
  height: 1em;
}


.location-icon {
  align-items: center;
  color: #8C95A3;
  display: flex;
  font-size: 1em;
  justify-content: flex-start;
  margin-top: 0.5em;
}

.location-blue {
  color: #49A2F3;
  font-size: 1em;
}

.sub-header-links {
  border-bottom: 2px solid white;
  color: #8C95A3;
  font-weight: 700;
  margin: 0.5%;
  text-decoration: none;
}

.sub-header-links:hover {
  border-bottom: 2px solid #49A2F3;
}

.sub {
  bottom: 2px;
  padding-right: 10px;
  position: absolute;
  width: 85%;
}
/*Styling for my two badass graph sections*/
.stats {
  background-color: #EDF2F6;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 20em;
  min-width: calc(100% - 14em);
  padding: 30px; 
}

.bar-graph {
  align-items: center;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  margin-bottom: 2em;
  max-width: 21em;
}

.bar {
  width: 21em;
}

.circle-graphs {
  align-items: center;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  margin-bottom: 2em;
  max-width: 576px;
  min-width: 560px;
}

.circle {
  width: 12em;
}

.chart-text {
  font-size: 1em;
  font-weight: 700;
}

.chart-number {
  font-size: 0.6em;
  line-height: 1;
  text-anchor: middle;
  transform: translateY(-0.25em);
}

.chart-label {
  color: #8C95A3;
  font-size: 0.2em;
  text-anchor: middle;
  text-transform: uppercase;
  transform: translateY(0.7em);
}

.donut-segment {
   stroke-linecap: round;
}

.chart div {
  background-color: #67B8BF;
  color: white;
  font: 10px sans-serif;
  margin: 1px;
  padding: 3px;
  text-align: right;
}


.stats-button {
  background-color: white;
  border-radius: 20px;
  border: 2px solid lightgray;
  margin: 0;
}

.stats-button p {
  margin: 0.5em;
}

.center-divide-button {
  border-radius: 50%;
  bottom: 55px;
  padding: 0.5em;
  position: relative;
}

.divide-button {
  background-color: #EDF2F6;
  display: flex;
  justify-content: center;
}

/*Styles for my totally rad table*/
.bottom-content {
  background-color: #EDF2F6;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  padding: 1em;
}

table {
  background-color: white;
  border-collapse: collapse;
  border-radius: 5px;
  color: #717D93;
  width: calc(100% - 25em);
}

td, th {
  font-size: 0.95em;
  padding: 1.5em;
  text-align: left;
}

td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

th {
  background-color: #717D93;
  color: white;
}

.th-left {
  border-top-left-radius: 5px;
}

.th-right {
  border-top-right-radius: 5px;
}

.edit-button {
  align-items: center;
  background-color: #808B9E;
  border-radius: 2px;
  border: none;
  color: white;
  display: flex;
  height: 2.5em;
  outline: none;
  width: 4em;
}

.edit-button:hover {
  background-color: #636e83;
}

.table-left {
  font-weight: 700;
  width: 10em;
}

/*Styles for social media buttons and links*/
.social-media {
  background-color: #EDF2F6;
  color: #4E515D;
  text-align: center;
  float: right;
  width: 17em;
}



.social-media-button {
  border-radius: 5px;
  color: white;
  font-weight: 700;
  margin-bottom: 0.5em;
  padding: 1em;
  width: 17em;
}

.media-buttons {
  margin: 0;
}

.facebook {
  background-color: #4F6DBB;
}

.facebook:hover {
  background-color: #405da5;
}

.twitter {
  background-color: #4A9FEC;
}

.twitter:hover {
  background-color: #2f8fe9;
}

.linkedin {
  background-color: #3175B0;
}

.linkedin:hover {
  background-color: #275d8b;
}

.social-media-links {
  align-items: center;
  color: #4E515D;
  display: flex;
  font-weight: 700;
  margin-top: 2em;
  text-decoration: none;
}

.social-media img {
  margin-right: 0.5em;
}

.social-media input {
  border-radius: 3px 0 0 3px;
  border: none;
  box-shadow: 0px 0px 2px 0px rgba(150,148,150,1);
  display: inline-block;
  font-size: 0.95em;
  height: 2em;
  outline: none;
  width: 14em
}

.social-media p {
  color: #717D93;
  font-size: 0.95em;
  max-width: 31ch;
}

.social-media-article {
  border-bottom: 2px solid lightgray;
  width: 17em;
}

.copy-button {
  background-color: #67B8BF;
  border-radius: 0 3px 3px 0;
  border: none;
  box-shadow: 0px 0px 2px 0px rgba(150,148,150,1);
  color: white;
  height: 28px;
  margin-bottom: 2.5em;
}

.copy-button:hover {
  background-color: #4babb4;
}

/*Media queries*/
@media (max-width: 1060px) {

  table {
    width: 100%;
  }

  .media-buttons,
  .media-links {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
  }

  .social-media-button,
  .social-media-article {
    margin-top: 0.5em;
  }

  .social-media {
    display: flex;
    flex-flow: column;
    width: 96%;
  }

}

@media (max-width: 910px) {

  table {
    /*width: 95%;*/
    margin: 2%;
  }
  
  aside {
    height: 5em;
    width: 5em;
  }

  .aside {
    display: none;
    padding: 0;
  }

  header {
    width: calc(100% - 5em);
  }

  .sub-header,
  .bottom-content,
  .stats {
    width: 100%;
  }

  .bottom-content {
    padding: 0;
  }

  .profile-pic {
    left: 1em;
    position: absolute;
    top: 1em;
    width: 3em;
  }

  .aside-profile-pic {
    border-bottom: 0;
  }

  .pro-pic-name {
    display: none;
  }



  .stats {
    align-items: column;
    justify-content: column;
  }

  @media (max-width: 650px) {

    .social-media-button span,
    .header-add-friend,
    .header-squares,
    .header-calendar,
    .social-media-article {
      display: none;
    }

    .social-media-button {
      margin-bottom: 1.5em;
    }

    .circle-graphs {
      flex-flow: column;
      max-width: 320px;
      min-width: 320px;
    }

  }

    @media (max-width: 435px) {

    td {
      white-space: nowrap;
    }

    .sub,
    .h1-icons,
    .header-text-input {
      display: none;
    }

    .sub-header {
      height: 10em;
    }

    .header-text-input2 {
      border: none;
      display: block;
    }

    header {
      flex-direction: row-reverse;
    }

    .header-menu {
      border-left: 0.5px solid lightgray;
      border-right: 0;
    }

    }
  }

}
