body {
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  margin-top: 60px;
}
section {
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  height: 100%;
  width: 50%;
  min-width: 359px;
}
.left {
  border: 0;
  padding-top: 15%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #495963;
}
header {
  font-weight: 800;
  width: 50vw;
  color: #FFFFFF;
  font-size: 5rem;
  margin-bottom: 20px;
}
p  {
  display: inline;
}
.header-img  {
  height:50px;
  display: inline-block;
}
fieldset {
  border: 0;
}
form {
  margin-top: 60px;
}
#website-title,
#url  {
  font-size: 30px;
  padding-top: 9px;
  padding-bottom: 9px;
  width: 65%;
  margin-bottom: 45px;
  color: black;
  text-indent: 15px;
}
#website-title::placeholder,
#url::placeholder  {
  color: #BBBDBF;
}
button {
  font-size: 16px;
  color: white;
  border: 0;
  background-color: #FFC107;
  width: 325px;
  height: 33px;
  outline: none;
}
button:hover {
  font-size: 16px;
  color: white;
  border: 0;
  background-color: #FFD773;
  width: 325px;
  height: 33px;
}
#enter  {
  background-color: #FFC107;
  font-size: 25px;
  color: white;
  width: 66%;
  height: 60px;
}
#enter:disabled  {
  background-color: red;
}
.right {
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #D1D8DC;
  overflow: scroll
}
ul {
  list-style-type: none;
}
.bookmarks {
  margin: 3%;
  width: 90%;
  height: 230px;
  border: 3px solid #607D8B;
  color: #455A64;
  background-color: #ffffff;
}
.bookmark-h1  {
  text-align: left;
  margin:10px;
  margin-left: 20px;
  font-size: 35px;
  font-weight: 400;
  border-bottom: 2px solid #CFD8DC;
}
#websiteLink  {
  position: relative;
  padding: 25px;
  color: #607D8B;
  font-size: 30px;
  text-align: left;
  margin-left: 20px;
  margin: 15px;
  border-bottom: 2px solid #CFD8DC;
}
#readButton,
#deleteButton  {
  display: inline;
  background-color: transparent;
  color: #455A64;
  width: 60px;
  height: 20px;
  vertical-align: bottom;
  display: inline;
  font-size: 25px;
  border: 0px;
}
#readButton  {
  position: absolute;
  left: 15%;
}
#deleteButton  {
  position: absolute;
  right: 12%;
}
a  {
  display: block;
}
.delete {
  display: none;
  color: red;
  margin: 0;
  width: 0;
  height: 0;
}
.read  {
  background-color: #F2F4F4;
  margin: 3%;
  width: 90%;
  height: 230px;
  border: 3px solid #607D8B;
}
#enter:hover  {
  background-color: #FFD773;
}
#readButton:hover,
#deleteButton:hover,
#websiteLink:hover  {
  font-weight: 600;
  text-decoration: underline #FFC107;
}
.sick-ass  {
  margin: 25px;
  font-size: 25px;
  color: #CFD8DC;
}
.counter  {
  color: #FFC107;
  font-size: 45px;
  font-style: italic;
  font-weight: 600;
}
@media only screen and (min-device-width: 320px) and (max-width: 1130px) {  /*Tablet*/
  header  {
    margin-bottom: 0px;
    font-size: 35px;
    display: inline;
  }
  .header-img  {
    height: 2rem;
  }
  section  {
    display: block;
  }
  .left  {
    position: absolute;
    display: block;
    width: 100%;
  }
  .right  {
    position: absolute;
    top: 510px;
    display: block;
    width: 100%;
    overflow: scroll;
    left: 0px;
  }
  p  {
    display: inline;
    font-size: 9vw;
  }
  #website-title,
  #url,
  #enter  {
    margin-bottom: 20px;
    width: 90%;
  }
  #enter  {
    width: 91%;
    margin-left: -5px;
  }
  .sick-ass  {
    font-size: 15px;
    margin: 10px;
  }
}



















